<ion-view view-title="Notification">
    <ion-content class="padding">
        <div class="list">
            <a class="item item-icon-right" href="#/tab/notification/local">
                Local Notification
                <i class="icon ion-arrow-right-c"></i>
            </a>

            <a class="item item-icon-right" href="#/tab/notification/pushwoosh">
                Pushwoosh Notification
                <i class="icon ion-arrow-right-c"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
