<ion-view view-title="Share">
    <ion-content class="padding">
        <div class="row">
            <div class="col col-50">
                <button class="button button-full button-positive" ng-click="shareFacebook()">
                    <i class="icon ion-camera"></i> To Facebook
                </button>
            </div>
            <div class="col col-50">
                <button class="button button-full button-calm" ng-click="shareNormal()">
                    <i class="icon ion-camera"></i> To Normal
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
