<ion-view view-title="Camera">
    <ion-content class="padding">
        <div class="row">
            <div class="col col-33">
                <button class="button button-full button-positive" ng-click="takePhoto()">
                    <i class="icon ion-camera"></i> Take
                </button>
            </div>
            <div class="col col-33">
                <button class="button button-full button-calm" ng-click="selectPhoto()">
                    <i class="icon ion-ios-albums"></i> Select
                </button>
            </div>
            <div class="col col-33">
                <button class="button button-full button-balanced" ng-click="uploadPhoto()">
                    <i class="icon ion-ios-upload"></i> Upload
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="item item-image">
                    <img ng-src="{{ previewImage }}" class="preview-image" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-20">
                <button class="button button-full button-energized" ng-click="rotate('left')">
                    <i class="fa fa-rotate-left"></i>
                </button>
            </div>
            <div class="col col-20">
                <button class="button button-full button-royal" ng-click="zoom('out')">
                    <i class="fa fa-search-minus"></i>
                </button>
            </div>
            <div class="col col-20">
                <button class="button button-full button-assertive" ng-click="zoom('fit')">
                    <i class="fa fa-arrows-alt"></i>
                </button>
            </div>
            <div class="col col-20">
                <button class="button button-full button-royal" ng-click="zoom('in')">
                    <i class="fa fa-search-plus"></i>
                </button>
            </div>
            <div class="col col-20">
                <button class="button button-full button-energized" ng-click="rotate('right')">
                    <i class="fa fa-rotate-right"></i>
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
